@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Passion+One:wght@700;900&display=swap');

.cabecalho {
    text-align      : center;
    background-color: black;
    padding         : 50px 10px;
}

.cabecalho__titulo {
    font-family     : 'Passion One', cursive;
    font-weight     : bolder;
    font-size       : 10vw;
    font-size-adjust: inherit;
    font-variant    : small-caps;
    color           : whitesmoke;
}

.cabecalho__descricao {
    color      : whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size  : 20px;

}

.cabecalho__link {
    color          : whitesmoke;
    text-decoration: none;
    font-weight    : bold;
    font-style     : italic;
}

.cabecalho__link:hover {
    text-decoration: underline;
    cursor         : pointer;
    color          : goldenrod;
}

@media screen and (max-width:500px) {
    .cabecalho__descricao {
        font-size: 15px
    }
}