@charset "UTF-8";


.img__01 {
    background-image     : url(../imagens/zebras.jpg);
    background-repeat    : no-repeat;
    background-position  : center center;
    background-size      : cover;
    background-attachment: fixed;
    height               : 100%;
    box-shadow           : inset 6px 6px 12px 0px rgba(0, 0, 0, 0.432);
    
}

.img__02 {
    background-image     : url(../imagens/cartas.jpeg);
    background-repeat    : no-repeat;
    background-position  : center center;
    background-size      : cover;
    background-attachment: fixed;
    height               : 100%;
    box-shadow           : inset 6px 6px 12px 0px rgba(0, 0, 0, 0.432);
}