@charset "UTF-8";

* {
    margin : 0px;
    padding: 0px;
}

body {
    background:  black url(imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}

header {
    background-image: url(imagens/wallpaper006.jpg);
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    padding         : 20px;
}

nav {
    display: flex;
}

ul {
    display: flex;
}

li {
    list-style  : none;
    margin-right: 20px;

}

main {
    height          : 100%;
    background-color: white;
    border-radius   : 10px;
    padding         : 15px;
    margin          : auto;
    min-width       : 280px;
    max-width       : 600px;


}


h2 {
    text-align   : center;
    margin-bottom: 20px;
}

p {
    text-align : justify;
    line-height: 1.5em;
    font-size  : 1.2em;
    text-indent: 20px;
}